<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<!-- menu modul -->
		<menuitem id="hospital_root_menu" name="hospital"/>
		<menuitem id="partner_root_menu" name="Pasien" />
		<menuitem id="pk21_root_menu" name="PK21" sequence="1" />
		<menuitem id="obat_root_menu" name="Obat" sequence="1" />
		
		<!-- menu model -->
		<menuitem id="config_menu" name="configuration kode" parent="hospital_root_menu" sequence="100" />
	</data>
</odoo>

<!-- groups="om_hospital.group_om_hospital_read" -->